.circle {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.red {
  width: 100px;
  height: 100px;
  background-color: red;
}

.white {
  width: 60px;
  height: 60px;
  background-color: white;
}

.red-inner {
  width: 30px;
  height: 30px;
  background-color: red;
  border-radius: 50%;
}

.modal_window {
    position: fixed;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    top:  0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.modal_window .modal_window_content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    height: fit-content;
    padding: 10px;
    background-color: aliceblue;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.modal_window_close_container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: flex-end;

}

.imgHolder{
    width: 100px;
    height: 100px;
    overflow: hidden;
    position: relative;
}
.imgHolder img {
    width: 100%;
    height: auto;
    position: absolute;
}

.progress-container {
    width: 100%;
    background-color: gray;
    color: black;
    position: relative;
}

.progress-bar1 {
    height: 30px;
    background-color: purple;
    color: white;
    position: relative;
    align-items: center;
    line-height: 30px;
}

.progress-bar2 {
    width: 0;
    height: 30px;
    background-color: red;
    color: white;
    position: relative;
    align-items: center;
    line-height: 30px;
}

.progress-bar-text1 {
    width: 500px;
    position: absolute;
    top: -15px;
    /*z-index: 3;*/
    text-align: center;
}

.progress-bar-text2 {
    width: 100%;
    color: blue;
    position: absolute;
    top: -9px;
    /*z-index: 3;*/
    text-align: center;
}